* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'museo-sans', sans-serif;
	font-weight: 600;
}
:root {
	--fontcolornav: rgb(72, 72, 72);
	--separator: rgb(218, 218, 218);
}

/* NAVBAR*/
.wrapper {
	display: flex;
	border-bottom: 1px solid var(--separator);
	position: sticky;
	height: 3.3rem;
}
/*LEFT SIDE */
.navBarSearch {
	width: 50%;
	height: inherit;
}

.nintendoIcon {
	height: inherit;
	background: none;
	border: 0px;
	background-color: rgb(224, 25, 25);
	color: white;
	padding: 1rem 1.165rem;
}
/*LEFT SIDE */

/*RIGHT SIDE */
.navBarList {
	width: 50%;
	color: var(--fontcolornav);
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 1.5rem;
	align-items: center;
	padding: 0 0.5rem;
	font-size: 0.8rem;
}

.navBarList > * {
	display: inline-block;
	cursor: pointer;
	transition: color 0.3s ease-out;
}
.navBarList > div > a {
	align-items: center;
}
.navBarList > div:hover {
	color: red;
}

.fa-question {
	color: white;
}
.centerIcon {
	display: flex;
	gap: 0.35rem;
}
/*RIGHT SIDE */

/* NAVBAR*/
