* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.03rem;
}
svg {
	vertical-align: middle;
	margin-bottom: 0.125rem;
}
:root {
	--fontcolornav: rgb(72, 72, 72);
	--separator: rgb(218, 218, 218);
	--navbarcolor: rgb(224, 25, 25);
}

/* NAVBAR UPPER*/
@media screen and (max-width: 950px) {
	.wrapper {
		background-color: var(--navbarcolor);
	}
	.searchBar:not(:first-child),
	.navBarList:not(:first-child) {
		display: none;
	}
	.nintendoIcon > svg {
		transform: scale(1.3);
	}
	.nintendoIcon > svg:hover {
		color: var(--navbarcolor);
		transition: all 0.3s ease-in-out;
	}
	.nintendoIcon > svg:not(:hover) {
		transition: all 0.3s ease-in-out;
	}
	.underNavBarList:not(:first-child) {
		display: none;
	}
}

.wrapper {
	display: flex;
	border-bottom: 1px solid var(--separator);
	position: sticky;
	height: 3.3rem;
}
/*LEFT SIDE */
.navBarSearch {
	min-width: 70%;
	height: inherit;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	max-width: 55%;
}
.searchBar {
	min-width: 37%;
	padding: 0.5rem 0;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding-right: 5rem;
}

.searchBar > * {
	cursor: pointer;
	display: inline-block;
	padding: 0rem 0.25rem;
}
.searchBar > input {
	border: 0px;
	font-size: 0.8rem;
	outline: none;
	min-width: 80%;
}

.fa-magnifying-glass {
	font-size: 1.125rem;
}
.nintendoIcon {
	background: none;
	border: 0px;
	background-color: var(--navbarcolor);
	color: white;
	padding: 1.0375rem 1.165rem;
	cursor: pointer;
}
.buttonMenuBar {
	background: none;
	border: none;
	font-size: 0.75rem;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	color: var(--fontcolornav);
	white-space: nowrap;
	margin-right: 0.6rem;
}

.allCategoriesDiv {
	white-space: nowrap;
	margin-right: min(-4rem);
}
.allCategoriesDiv > a {
	margin-left: 0.5rem;
}
.searchBar:hover {
	border-color: red;
	transition: 0.5s;
}
.allCategoriesDiv:hover > *:not(.allCategoriesMenu) {
	color: red;
	transition: 0.5s;
	cursor: pointer;
}
.navBarSearchCategoryIcon {
	display: inline-block;
}
.allCategoriesMenu {
	position: absolute;
	background-color: white;
	border: 1px var(--separator) solid;
	z-index: 1;
	list-style: none;
	font-size: 0.65rem;
	font-weight: 700;
	color: var(--fontcolornav);
	border-radius: 5px;
	padding: 0;
	margin-top: 0.5rem;
}

.allCategoriesMenu > li {
	width: 100%;
	display: block;
	padding: 0.5rem 3rem 0.5rem 0.5rem;
}
.allCategoriesMenu > li:first-child {
	margin-top: 0.2rem;
	background-color: var(--separator);
}
.allCategoriesMenu > li:last-child {
	margin-bottom: 0.2rem;
}
.allCategoriesMenu > li:hover {
	background-color: rgb(243, 243, 243);
}
.hideMenu {
	display: none;
}
/*LEFT SIDE */

/*RIGHT SIDE */
.navBarList {
	min-width: 30%;
	color: var(--fontcolornav);
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 1.5rem;
	align-items: center;
	padding: 0 0.5rem 0 0;
	font-size: 0.8rem;
	font-weight: 700;
	white-space: nowrap;
}

.navBarList > * {
	display: inline-block;
	cursor: pointer;
	transition: color 0.3s ease-out;
}
.navBarList > div > a {
	align-items: center;
}
.navBarList > div:hover {
	color: red;
}

.fa-question {
	color: white;
}
.centerIcon {
	display: flex;
	gap: 0.35rem;
}
/*RIGHT SIDE */

/* NAVBAR 	UPPER*/
/* NAVBAR DOWN*/
.underNavBarList {
	height: 2.7rem;
	border-bottom: 1px solid var(--separator);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.3rem;
	font-size: 0.85rem;
	font-weight: 700;
	color: var(--fontcolornav);
	padding-left: 1rem;
}
.underNavBarList > div {
	cursor: pointer;
}
.underNavBarList > div:hover {
	color: red;
	transition: color 0.3s ease;
}
.underNavBarList > div > span {
	margin: 0 0.45rem;
}
.rotateIcon {
	transform: rotate(180deg);
	transition: 0.5s;
}

/* NAVBAR DOWN*/
/* Main section*/
.zeldaImageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.8rem;
	padding-left: max(1rem, 1.8rem);
	padding-right: max(1rem, 1.8rem);
	background: url(https://assets.nintendo.com/image/upload/q_auto:good/f_auto/dpr_2.0/ncom/en_US/merchandising/center-stage-banner/the-legend-of-zelda-tears-of-the-kingdom-switch/640x640_bg_center);
	cursor: pointer;
}
.imgZelda {
	width: 100%;
	height: auto;
	border-radius: 6px;
	cursor: pointer;
	margin-bottom: -3.5rem;
}

.descriptionBar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid var(--separator);
	background-color: white;
	padding: 6rem 0rem 3.3rem 0rem;
}
.descriptionZeldaImg {
	display: flex;
	align-items: center;
	color: var(--fontcolornav);
	font-size: 1.12rem;
	margin-left: 2rem;
}

.descriptionZeldaImg > a > button {
	background-color: var(--navbarcolor);
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: 700;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	margin-left: min(1.5rem);
	margin-right: min(1.5rem);
	cursor: pointer;
	white-space: nowrap;
}

.violenceSign {
	display: flex;
	align-items: center;
	gap: 0.6rem;
	font-size: 0.7rem;
	white-space: nowrap;
	margin-right: 2rem;
}
.violenceSign > a > svg {
	transform: scale(1.15);
}
.violenceSignText {
	color: grey;
	text-decoration: none;
	padding: 2rem 0;
}
/* Main section*/
